/* css file*/

body {
    padding: 5px;
    margin: 5px;
}

header {
    background-image: url(flywheel.jpg);
    background-size: cover;
    padding: 10px 0px 30px 0px;
}

h1 {
    text-align: center;
    color: white;
    font-size:300%;
    text-transform: capitalize;
}

nav {
    text-align:center;
}

nav a {
    padding: 20px 70px;
    margin: 10px 50px;
    text-align: center;
    text-decoration: none;
    background-color:rgba(255,255,255,0.5);
}
    nav a[class="active"] {
        background-color: rgba(255,255,255);
    }

.left {
    float:left;
    width:25%;
    background-color:green;
    padding:15px 0px;
}
.right {
    float:left;
    width:60%;
    margin:25px;
}

h2 {
    color: blue;
    text-transform: capitalize;
}

a {
    color:blueviolet;
    text-align:center;
}

img {
    width: 200px;
    display:block;
    margin:25px auto;
    border-style:dotted;
    border-color:black;
}

table {
    font-size:larger;
    font-weight:200;
    line-height:30px;
    width:80%;
    margin:auto;
}

th {
    background-image:linear-gradient(to bottom, green, lawngreen);
    padding:5px;
}
tr th:nth-child(1) {
    text-align: left;
}

td {
    opacity:0.8;
    text-align:center;
    padding:0px 10px 0px 5px;
    background-color:lightgreen;
    border-radius:2px;
    font-size:small;
}
    td:hover {
        opacity: 1;
        text-shadow: 0.5px 0.5px;
    }
tr td:nth-child(1) {
    text-align:left;
}
